<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="stylesheets/style.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- <!DOCTYPE html> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<html>
    <body>
        <div class="container">
        	<div class="row">
              <div class="col-md-4">
                  <div class="text-center">
                  <img src="images/IPhone_7_Jet_Black.svg.png">
                    </div>
              </div>    
              <div class="col-md-2">
                
              </div>
              <div class="col-md-5">
                  <h1> IPhone 7 Jet Black </h1>
                  Price      : <b>$120.00</b>
                  </p>
                  iPhone and the Environment
                  Apple takes a complete product life cycle approach to determining our environmental impact. Learn more

                  iPhone 7 and iPhone 7 Plus embody Apple’s continuing environmental progress. They are designed with the following features to reduce environmental impact:
                  Mercury-free LED-backlit display
                  Arsenic-free display glass
                  Brominated flame retardant‑free
                  PVC-free
                  Recyclable aluminum enclosure
                  <form method="GET" action="/pay"> 
                  </p>
                    <button class="btn btn-default"> Add to Cart</button>
                    <input type="submit" value=" Pay using PayPal" class="btn btn-primary"></input>
                  </form>
                </div>
          </div>
        </div>        
    </body>
</html>
